openapi: 3.1.0
info:
  title: API de Sincronización Financiera - Proyecto XALD
  description: >
    API REST asíncrona para la recepción de transacciones financieras procesadas
    por el cliente móvil bajo una arquitectura Offline-First. Garantiza la ingesta
    higienizada de datos provenientes de la capa Anti-Corrupción (ACL / Regex / Gemini).
  version: 1.0.0
  contact:
    name: Equipo de Desarrollo XALD
  license:
    name: Propietaria

servers:
  - url: https://api.xald-app.com/api/v1
    description: Servidor de Producción

# 1. Definición global de seguridad para satisfacer al linter
security:
  - ApiKeyAuth: []

paths:
  /transacciones:
    post:
      summary: Recibir transacción financiera desde la cola de sincronización
      description: >
        Endpoint asíncrono que recibe los DTOs de transacciones encolados en el dispositivo móvil.
        Aplica validación estricta de esquemas y responde inmediatamente con un estado de aceptación
        para procesamiento en segundo plano (Eventual Consistency).
      operationId: registrarTransaccion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransaccionDTO'
      responses:
        '202':
          description: Transacción aceptada y encolada exitosamente.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RespuestaSincronizacion'

components:
  # 2. Esquema del API Key
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    TransaccionDTO:
      type: object
      required:
        - id_transaccion
        - monto
        - moneda
        - comercio
        - categoria
        - fecha_transaccion
        - origen_datos
      properties:
        id_transaccion:
          type: string
          format: uuid
          description: Identificador único universal (UUID)
        monto:
          type: number
          format: float
          minimum: 0
          exclusiveMinimum: true
          description: Valor numérico de la transacción
        moneda:
          type: string
          minLength: 3
          maxLength: 3
          example: COP
        comercio:
          type: string
          minLength: 1
          example: Tienda Ara
        categoria:
          type: string
          minLength: 1
          example: Supermercado
        fecha_transaccion:
          type: string
          format: date-time
          description: Estampa de tiempo ISO 8601 UTC
        origen_datos:
          $ref: '#/components/schemas/OrigenDatosEnum'

    RespuestaSincronizacion:
      type: object
      properties:
        estado:
          type: string
          example: ACEPTADO
        id_transaccion:
          type: string
          format: uuid
        mensaje:
          type: string
          example: Transacción recibida y encolada exitosamente para persistencia.
        fecha_recepcion:
          type: string
          format: date-time

    OrigenDatosEnum:
      type: string
      enum:
        - SMS_REGEX
        - AI_GEMINI
        - MANUAL